extends layout

block content
  div(id='map')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBe6mYpL9Z6BC38pc8dwCIBXfapgvNd_Sw&callback=initMap')
  script(src='/javascripts/geolocate.js')

  div(class='main')
    h3 Hello
  
    button(type='button') Get me my location!
    br
    br
    a(href='/pubs', target='_blank') Pubs
  
