extends layout

block content
  hello
  div(id='map')
  script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBe6mYpL9Z6BC38pc8dwCIBXfapgvNd_Sw')
  script(src='/javascripts/initMap.js')
  script(src='/javascripts/handleLocationError.js')
  script(src='/javascripts/getPlaces.js')
  script(src='/javascripts/controller.js')

  div(class='main')

    button(type='button' id="bar_nearby") Get bars nearby
    br
    br
    ol#listPlaces
  
