extends layout

block content
  
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBe6mYpL9Z6BC38pc8dwCIBXfapgvNd_Sw&callback=initMap&libraries=places,visualization', async='', defer='')

  script(src='/javascripts/pubs.js')
  
  div(id='map_pub')
  div(class='main')
    h3 Hello
  
    button(type='button') Get me the open pubs!
